.menu {
  &__list {
    display: flex;
    list-style: none;
    position: relative;
    z-index: 2;
    padding: 0;
    @media (max-width: 1200px) {
      display: block;
    }
  }
  &__item {
    padding: 10px 10px 10px 10px;
    margin: 0px 50px 0px 0px;
    @media (max-width: 1200px) {
      font-size: 40px;
      text-align: right;
      margin: 0px 0px 40px auto;
      text-transform: uppercase;
    }
    @media (max-width: 576px) {
      font-size: 24px;
      margin: 0px 0px 20px auto;
    }
    @media(max-width: 1440px) and (min-width: 1200px) {
      margin: 0px 30px 0px 0px;
    }
    &._is-current {
      color: $secondary;
    }
    @media (min-width: 1200px) {
      &._is-current {
        border: 1px solid $secondary;
        color: $secondary;
        border-radius: 40px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.locale {
  display: flex;
  &__item {
    cursor: pointer;
    margin: 0px 60px 0px 0px;
    transition: color 100ms ease;
    @media(max-width: 1440px) {
      margin: 0px 30px 0px 0px;
    }
    &:hover {
      color: $secondary;
    }
    &._is-current {
      color: $secondary;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.card-target {
  @media (min-width: 1220px) {
    min-width: 600px;
  }
  & > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  &__title {
    font-size: 24px;
    line-height: calc(28 / 24 * 100%);
    color: $secondary;
    font-weight: 400;
  }
  &__text {
    max-width: 480px;
  }
}

.btn{
    padding: 10px 20px;
    border-radius: 40px;
    background: none;
    border: 1px solid $secondary;
    cursor: pointer;
    text-transform: uppercase;
    
    font-size: 16px;
    line-height: calc(18 / 16 * 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 150ms ease;

    svg{
        width: 24px;
        height: 24px;
        margin: 0 0 0 3px;
        fill: $secondary;
    }

    @media (min-width: 992px){
        &:hover{
            background: $secondary;
            color: white;
            svg{
                fill: #fff;
            }
        }
    }
}
