.menu_exit {
  #investStrategy{
    .menu_exit__top{
      margin: 0 0 60px;
    }
  }
  &._is-active{
    .menu_exit__content{
      right: 0;
      top: 0;
    }
    .menu_exit__overlay{
      opacity: 1;
      visibility: visible;
    }
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
  }

  &__content{
    position: fixed;
    padding: 60px 100px;
    background: #fff;
    height: 100%;
    width: 70%;
    z-index: 11;
    min-height: 100vh;
    overflow-y: auto;
    top: 0;
    right: -100%;
    transition: .3s ease-in-out;
    @media (max-width: 1050px) {
      padding: 30px 30px;
    }
    @media (max-width: 800px) {
      width: 100%;
      top: 48px;
    }
    @media (max-width: 425px) {
      padding: 30px 10px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__button {
    background: transparent;
    cursor: pointer;
    border: none;
  }

  &__text {
    max-width: 600px;
    margin-bottom: 60px;
  }
  &__burger-img{
    width: 20px;
    height: 20px;
  }
}
.introduction-menu {
  &__item {
    border-bottom: 1px solid #B6B6B6;
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;
    display: flex;
    @media (max-width: 1236px) {
      gap: 10px;
      flex-direction: column;
    }

  }

  &__list {
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
    text-decoration: none;
  }

  &__percent{
    width: 100px;
    text-align: end;
    @media (max-width: 1236px) {
      text-align: start;
    }
  }

  &__text {

    margin-left: auto;
    padding: 0 0 0 10px;
    @media (max-width: 1236px) {
      padding: 0;
      margin: 0;
    }

    &--green {
      color: #006F62;
    }
  }
}

.investment-menu {
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24 * 100%);
    text-transform: uppercase;
    color: #006F62;
    margin-bottom: 30px;
    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
    margin-bottom: 60px;
  }

  &__text--green {
    max-width: 600px;
    color: #006F62;
    margin-bottom: 60px;
  }
}

.terms{
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__between-border{
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #B6B6B6;
    max-width: 720px;
    &--top{
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  &__text {
    max-width: 600px;
    &--green {
      color: #006F62;
    }
  }
  &__subtitle{
    margin-bottom: 30px;
  }
  &__list{
    margin-bottom: 30px;
  }
}