<button class="btn @@class">
    @@text
    <svg width="24" height="25" viewBox="0 0 24 25" fill="current" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_128_119)">
        <path d="M16.0039 9.914L7.39691 18.521L5.98291 17.107L14.5889 8.5H7.00391V6.5H18.0039V17.5H16.0039V9.914Z" fill="current"/>
        </g>
        <defs>
        <clipPath id="clip0_128_119">
        <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
        </defs>
    </svg>
</button>