@import './modules/variables';
@import "./modules/ui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: color 150ms ease;
  @media (min-width: 992px) {
    &:hover {
      color: $secondary;
    }
  }
}

ul, ol {
  padding: 0px 0px 0px 20px;
  li {
    max-width: 700px;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px; 
  color: $primary;
  background-color: $mainBg;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 100%;
  margin: 80px 0px 0px 0px;
  @media (max-width: 767px) {
    margin: 50px 0px 0px 0px;
  }
}

._container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 10px;
  @media (min-width: 576px) {
    padding: 0px 30px;
  }
  @media (min-width: 992px) {
    padding: 0px 60px;
  }
}

@import './modules/global';
@import "./sections/header";